.hidden {
    display: none
}
.symbol {
    /*font-family: monospace;
    font-size: 15px;*/
    float: left;
    padding: 0px;
    margin:0px;
}

.play-button:hover,.pause-button:hover{
    font-weight: bold;
    cursor: pointer;
}

.seek-bar:hover{
    cursor: pointer;
    font-weight: bold;
}
